<h1>Profile</h1>
<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td><%=@user.fname%></td>
      </tr>
      <tr>
        <th scope="row">Middle Name</th>
        <td><%=@user.mname%></td>
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td><%=@user.lname%></td>
      </tr>
      <tr>
        <th scope="row">Father's Name</th>
        <td><%=@user.father_name%></td>
      </tr>
      <tr>
        <th scope="row">Passport Number</th>
        <td><%= @user.passport%></td>
      </tr>
      <tr>
        <th scope="row">Aadhaar Number</th>
        <td><%=@user.aadhaar%></td>
      </tr>
    </tbody>
  </table>



    <%= link_to "Edit or Add Information", edit_user_path, :class => "btn" %>
    <% if @user.flag != 1 %>
      <%= link_to "Submit for Approval",user_submit_path(@user),:class => "btn" %>
    <%end%>
  </div>
